{% extends 'catalog/base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h3 class="card-title">Вы хотите удалить продукт {{ object.product_name }} ?</h3>
                        <button><a type="submit" class="btn btn-danger">Удалить</a></button>
                        <button><a href="{% url 'catalog:index' %}" class="btn btn-warning">Отмена</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
