{% extends 'mailing/base.html' %}


{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h3 class="card-title">Вы хотите удалить рассылку {{ object.name }} ?</h3>
                        <button><a type="submit" class="btn btn-danger">Удалить</a></button>
                        <button><a href="{% url 'mailing:mailing_list' %}" class="btn btn-warning">Отмена</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
