{% extends 'mailing/base.html' %}
{% block content %}
{% load my_tags %}

<title>Рассылки</title>

<main role="main" class="inner cover">
    <h2 class="cover-heading">Список рассылок</h2>


    {% user_groups as user_group %}
    {% if perms.mailing.add_mailing %}
    <h3 class="card-title"><a class="btn btn-outline-primary" href="{% url 'mailing:create' %}">Создать новую
        рассылку</a>
    </h3>
    {% endif %}

    <br>
</main>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for object in objects_list %}
    <div class="col-4">
        <div class="card md-4 box-shadow">
            <div class="card body">
                {{ form.as_p }}
            </div>
        </div>
        <br>
    </div>
    <br>
    {% endfor%}
</div>
{% endblock %}
